@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  scrollbar-width: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  font-size: 1rem;

  --p: 1.5rem;
  --gap: 1.5rem;
  --black: #080808;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
}

.bg{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  padding: var(--p);
  background: var(--black);
  overflow: hidden;
  z-index: 0;
}

.grad{
  background: linear-gradient(135deg, #ffd400 10%, #ff6200 90%);
}

.p{
  padding: var(--p);
}

.px{
  padding: 0 var(--p);
}

.gap{
  gap: var(--gap)
}

.r{
  border-radius: 1rem;
}

.abs-fill{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.small{
  font-size: 1rem;
}

.medium{
  font-size: 1.3rem;
}

.big{
  font-size: 1.7rem;
}

.huge{
  font-size: 3rem;
}

.black{
  background: var(--black);
}

.abril{
  font-family: Abril Fatface, serif;
}

.lesson-container{
  max-width: 50rem;
}

.lesson-container h1{
	font-size: 2.5rem;
	font-weight: 700;
}

.lesson-container h2{
	font-size: 2rem;
	font-weight: 500;
  margin-top: 1.5rem;
}

.lesson-container h3{
	font-size: 1.5rem;
	font-weight: 500;
}

.lesson-container ul{
	list-style-type: '⬩';
	padding-left: 1.5rem;
}

.lesson-container li{
	padding-left: 0.5rem;
  font-size: 1.3rem;
}

.lesson-container p{
  font-size: 1.3rem;
  padding-left: 1.5rem;
}
